#!/usr/bin/env bash

# START SETTINGS kafka.base
export CONTECO_DC_KZ_SERVER_KAFKA_KAFKA_ADVERTISED_LISTENERS=",HOST://localhost:29092"
export CONTECO_DC_KZ_SERVER_KAFKA_KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=",HOST:PLAINTEXT"
export CONTECO_DC_KZ_SERVER_KAFKA_PORTS="29092:29092"
export CONTECO_DC_KZ_SERVER_KAFKA_LABELS=
export CONTECO_DC_KZ_SERVER_KAFKA_DEPLOY_LABELS=
export CONTECO_DC_KZ_SERVER_KAFKA_DEPLOY_REPLICAS=1
export CONTECO_DC_KZ_SERVER_KAFKA_DEPLOY_PLACEMENT_CONSTRAINTS=
export CONTECO_DC_KZ_SERVER_KAFKA_DEPLOY_RESOURCES_LIMITS_CPUS=
export CONTECO_DC_KZ_SERVER_KAFKA_DEPLOY_RESOURCES_RESERVATIONS_CPUS="0.1"
export CONTECO_DC_KZ_SERVER_KAFKA_DEPLOY_RESOURCES_LIMITS_MEMORY="1536m"
export CONTECO_DC_KZ_SERVER_KAFKA_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="1024m"
# END SETTINGS kafka.base

# START SETTINGS zookeeper.base
export CONTECO_DC_KZ_SERVER_ZOOKEEPER_LABELS=
export CONTECO_DC_KZ_SERVER_ZOOKEEPER_DEPLOY_LABELS=
export CONTECO_DC_KZ_SERVER_ZOOKEEPER_DEPLOY_REPLICAS=1
export CONTECO_DC_KZ_SERVER_ZOOKEEPER_DEPLOY_PLACEMENT_CONSTRAINTS=
export CONTECO_DC_KZ_SERVER_ZOOKEEPER_DEPLOY_RESOURCES_LIMITS_CPUS=
export CONTECO_DC_KZ_SERVER_ZOOKEEPER_DEPLOY_RESOURCES_RESERVATIONS_CPUS="0.1"
export CONTECO_DC_KZ_SERVER_ZOOKEEPER_DEPLOY_RESOURCES_LIMITS_MEMORY="128m"
export CONTECO_DC_KZ_SERVER_ZOOKEEPER_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="64m"
# END SETTINGS zookeeper.base


